html,
body {
  margin: 0;
  padding: 10px;
}

body {
  background: linear-gradient(to top, #345a80, #a1c4dc);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Oxygen", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

button {
  height: 100px;
  width: 100px;
  background-color: #d1561f;
  border-radius: 50%;
  outline: none;
  border: 1px solid darkred;
  cursor: pointer;
}

button:active {
  border: 2px solid black;
}

.fun {
  background: linear-gradient(to top, #f8f6f5, #40733f);
  font-family: "Roboto Mono", monospace;
  color: whitesmoke;
  text-transform: capitalize;
}

#idea {
  text-align: center;
}
